<header>
	<h1>You have {{ guests.nRsvp().length }} yet to rsvp.</h1>
</header>
<nav class='tabs'>
	<a ui-sref-active="active" ui-sref="add-edit">Edit guest list</a>
	<a ui-sref-active="active" ui-sref="email">Email reminders</a>
</nav>
<main>
		<!-- begin show all guests -->
		<section class="guest-list">
			<ul>
				<li ng-repeat="guest in guests.nRsvp()">
					<input class="checkbox" type="checkbox" ng-model="todo.email" id="todo-{{$index}}">
					<label for="guest-{{$index}}" ng-class="{rsvp: guest.rsvp}">{{ guest.name }}, {{ guest.email }}</label>
					<button class="btn btn-email" ng-click="guests.emailGuest($index)">Send Email</button>
					<button class="btn btn-delete" ng-click="guests.deleteGuest($index)">Remove Guest</button>
				</li>
			</ul>
			
		</section>
		<!-- end show all guests -->
</main>
